body {
    margin: 0px;
    display: block;
    font-family: sans-serif;
    color: white;
}

.root {
   display: block;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-x: hidden;
}

.login-container {
    flex: 3 1 0%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 10px;
}

.login-form {
    max-width: 450px;
    width: 100%;
}

.inputs {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.login-title {
    border-bottom: 1px solid rgb(217, 218, 220);
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
}

.login-name {
    box-sizing: border-box;
    font-family: spotify-circular, Helvetica, Arial, sans-serif;
    -webkit-tap-highlight-color: transparent;
    font-size: 1.1rem;
    line-height: 1.25rem;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    font-weight: 700;
    width: 100%;
    padding-bottom: 8px;
}

.login-input {
    appearance: none;
    background-image: none;
    border: 0px;
    display: block;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    width: 100%;
    box-sizing: border-box;
    font-family: spotify-circular, Helvetica, Arial, sans-serif;
    -webkit-tap-highlight-color: transparent;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 4px;
    padding: 14px;
    background-color: var(--background-base,#ffffff);
    box-shadow: inset 0 0 0 1px var(--essential-subdued,#878787);
    color: var(--text-base,#000000);
}

.error {
    font-size: 20px;
    color: red;
}

.btn { /* Shared for all buttons except Register and Click here to Login */
    /*font-family: spotify-circular, Helvetica, Arial, sans-serif;*/
    font-family: sans-serif;
    color: #CA4C9F; /* Font color*/
    background-color: var(--background-base,#44F0C2); 
    text-align: center;
    text-transform: uppercase;
    transition: all 0.3s ease;
    cursor: pointer;
    font-size: 19px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    width: 100%;
}


.btn-delete {
    min-width: 10em;
    width: 35%;
    color: #ff0000;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
}


.btn-show {
    min-width: 10em;
    width: 35%;
    color: #00ff00;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.btn-login { /* Click here to login button */
    color: var(--text-base,#000000); 
    background-color: #ffffff;
    

}

.btn-register {
    color: var(--text-base,#898989);
    background-color: #ffffff;
    border: solid 1px rgba(0,0,0,1);
}

.btn:hover {
    transform: scale(1.1);
}

h2 {
    display: block;
    font-size: 1.1rem;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: center;
}


.search-add {
    display: horizontal;
}

ul {
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}

li {
    font-family: spotify-circular, Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: bold;
    position: relative;
    display: block;
    padding: 10px 20px;
    color: black;
    margin-bottom: 10px;    
    background-color: #fff;
    border: 1px solid rgb(0, 0, 0);
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.inline {
    display: inline-block;
}

.list-item {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-functions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-details {
    display: none;
  }

.add-contact-form {
    display: none;
}
