@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
    /* General */
    --background-color: linear-gradient(#e1b5fb, #ffcbcb);
    --text-color: white;

    /* Login and Register */
    --window-color: rgba(0, 0, 0, 0.3);

    --button-color: rgb(67, 149, 243, 1); /* also for add and logout */
    --button-hover: rgb(67, 149, 243, 0.6);;

    /* Contact Page */
    --table-header-color: rgba(0, 0, 0, 0.2);
    --table-odd-row-color: rgba(0, 0, 0, 0.2);
    --table-even-row-color: rgba(0, 0, 0, 0.2);
    
    --edit-button-color: rgba(0, 0, 0, 0.1);
    --edit-button-hover: rgba(0, 0, 0, 0.6);

    --delete-button-color: rgba(0, 0, 0, 0.1);
    --delete-button-hover: rgba(0, 0, 0, 0.6);

}

html {
    height: 100%;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: var(--background-color);
    /* background-color: #24252a; */
    font-family: "Montserrat", sans-serif;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: var(--text-color);
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 20px 5%;
    color: var(--text-color);
}

header button {
    justify-content: left;
    right: 5%;
}

.logo {
    cursor: pointer;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

a {
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

a:hover {
    color: var(--button-hover);
}

button {
    padding: 9px 25px;
    background-color: var(--button-color);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: var(--button-hover);
}


.login-window {
    color: var(--text-color);
    position: absolute;
    bottom: 40%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 400px;
    background-color: var(--window-color);
    border-radius: 10px;
}

.login-window h1 {
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.login-window form {
    padding: 0 40px;
    box-sizing: border-box;
}

form .txt-field {
    position: relative;
    margin: 30px 0;
}

input {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 5px;
    background: white;
}

.txt-field input {
    width: 100%;
    padding: 0px 5px;
    height: 40px;
    font-size: 16px;
    border-radius: 10px;
}

.login-button {
    width: 100%;
}

.signup-field {
    margin: 30px 0;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    border-radius: 10px;
}


.contact-table {
    border-collapse: collapse;
    border-radius: 7px;
    overflow: hidden;
    color: var(--text-color);
    margin: auto 0;
    font-size: 0.9em;
    position: absolute;
    top: 20%;

}

.contact-table thead tr {
    background-color: var(--table-header-color);
    color: white;
    text-align: left;
    font-weight: bold;
}


.contact-table th, .contact-table td {
    /* display: inline-block; */
    padding: 8px 8px;
    border-bottom: 1px solid #dddddd;
    word-wrap: break-word;
    /* overflow: hidden; */
    overflow-wrap: break-word;

    /* text-overflow: ellipsis; */
}

.contact-table td input {
    width: 100%;
}






.contact-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.contact-table tbody tr:nth-of-type(even) {
    background-color: var(--table-even-row-color);
}
.contact-table tbody tr:nth-of-type(odd) {
    background-color: var(--table-odd-row-color);
}
.contact-table tbody tr:last-of-type {
    border-bottom: 2px solid var(--table-header-color);
}

.btn-edit {
    background-color: var(--edit-button-color);
}
.btn-edit:hover {
    background-color: var(--edit-button-hover);
}
.btn-delete {
    background-color: var(--delete-button-color);
}
.btn-delete:hover {
    background-color: var(--delete-button-hover);
}

.search-bar {
    width: 30%;
    height: 20%;
    top: 30%;
    font-size: 20px;
}


@media (max-height: 800px) {
    /* CSS that should be displayed if width is equal to or less than 800px goes here */
    .contact-table {
        top: 30%;
    }
}
@media (max-width: 600px) {
    /* CSS that should be displayed if width is equal to or less than 800px goes here */

    .contact-table {
        width: 100%;
        /* overflow-x: auto; */
        /* overflow-wrap: break-word; */
        table-layout: fixed;
        overflow-x: auto;
    }

    .contact-table td button {
        /* text-overflow: ellipsis; */
        height: 100%;
        padding: 4px;
    }

    html {
        font-size: 10px;
    }

    button {
        font-size: 10px;
    }

    input {
        font-size: 10px;
    }
}